.AlbumListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 50px;
  justify-content: space-between;
}

.ArtistInfoContainer {
  display: flex;
  padding: 30px 40px;
  background: rgb(2, 0, 36);
  background-color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 14%,
    rgba(11, 58, 94, 1) 78%,
    rgba(3, 10, 121, 1) 100%
  );
}

.ArtistCoverImage {
  width: 220px;
  height: 220px;
  border-radius: 5px;
}

.ArtistName {
  color: white;
  margin-left: 20px;
}
