.SideDrawer {
  position: fixed;
  width: 232px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #282828;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.NavigationItems {
  margin: 56px 0 0 0;
  padding: 0 15px 0 15px;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
